.DS_Store
.idea
*.log
tmp/

*.py[cod]
*.egg
build
htmlcov
*.egg-info
typings/transformers
typings/transformers/activations_tf.pyi
typings/transformers/activations.pyi
typings/transformers/audio_utils.pyi
typings/transformers/cache_utils.pyi
typings/transformers/configuration_utils.pyi
typings/transformers/convert_graph_to_onnx.pyi
typings/transformers/convert_pytorch_checkpoint_to_tf2.pyi
typings/transformers/convert_slow_tokenizer.pyi
typings/transformers/convert_slow_tokenizers_checkpoints_to_fast.pyi
typings/transformers/convert_tf_hub_seq_to_seq_bert_to_pytorch.pyi
typings/transformers/debug_utils.pyi
typings/transformers/deepspeed.pyi
typings/transformers/dependency_versions_check.pyi
typings/transformers/dependency_versions_table.pyi
typings/transformers/dynamic_module_utils.pyi
typings/transformers/feature_extraction_sequence_utils.pyi
typings/transformers/feature_extraction_utils.pyi
typings/transformers/file_utils.pyi
typings/transformers/hf_argparser.pyi
typings/transformers/hyperparameter_search.pyi
typings/transformers/image_processing_base.pyi
typings/transformers/image_processing_utils_fast.pyi
typings/transformers/image_processing_utils.pyi
typings/transformers/image_transforms.pyi
typings/transformers/image_utils.pyi
typings/transformers/keras_callbacks.pyi
typings/transformers/modelcard.pyi
typings/transformers/modeling_attn_mask_utils.pyi
typings/transformers/modeling_flax_outputs.pyi
typings/transformers/modeling_flax_pytorch_utils.pyi
typings/transformers/modeling_flax_utils.pyi
typings/transformers/modeling_gguf_pytorch_utils.pyi
typings/transformers/modeling_outputs.pyi
typings/transformers/modeling_tf_outputs.pyi
typings/transformers/modeling_tf_pytorch_utils.pyi
typings/transformers/modeling_tf_utils.pyi
typings/transformers/modeling_utils.pyi
typings/transformers/optimization_tf.pyi
typings/transformers/optimization.pyi
typings/transformers/processing_utils.pyi
typings/transformers/pytorch_utils.pyi
typings/transformers/safetensors_conversion.pyi
typings/transformers/testing_utils.pyi
typings/transformers/tf_utils.pyi
typings/transformers/time_series_utils.pyi
typings/transformers/tokenization_utils_base.pyi
typings/transformers/tokenization_utils_fast.pyi
typings/transformers/tokenization_utils.pyi
typings/transformers/trainer_callback.pyi
typings/transformers/trainer_pt_utils.pyi
typings/transformers/trainer_seq2seq.pyi
typings/transformers/trainer_utils.pyi
typings/transformers/trainer.pyi
typings/transformers/training_args_seq2seq.pyi
typings/transformers/training_args_tf.pyi
typings/transformers/training_args.pyi
typings/transformers/agents/__init__.pyi
typings/transformers/benchmark/__init__.pyi
typings/transformers/benchmark/benchmark_args_tf.pyi
typings/transformers/benchmark/benchmark_args.pyi
typings/transformers/benchmark/benchmark_tf.pyi
typings/transformers/benchmark/benchmark.pyi
typings/transformers/commands/__init__.pyi
typings/transformers/data/__init__.pyi
typings/transformers/data/data_collator.pyi
typings/transformers/data/datasets/__init__.pyi
typings/transformers/generation/__init__.pyi
typings/transformers/integrations/__init__.pyi
typings/transformers/models/__init__.pyi
typings/transformers/models/albert/__init__.pyi
typings/transformers/models/align/__init__.pyi
typings/transformers/models/altclip/__init__.pyi
typings/transformers/models/audio_spectrogram_transformer/__init__.pyi
typings/transformers/models/auto/__init__.pyi
typings/transformers/models/auto/feature_extraction_auto.pyi
typings/transformers/models/auto/image_processing_auto.pyi
typings/transformers/models/auto/modeling_auto.pyi
typings/transformers/models/auto/modeling_tf_auto.pyi
typings/transformers/models/autoformer/__init__.pyi
typings/transformers/models/bark/__init__.pyi
typings/transformers/models/bart/__init__.pyi
typings/transformers/models/barthez/__init__.pyi
typings/transformers/models/bartpho/__init__.pyi
typings/transformers/models/beit/__init__.pyi
typings/transformers/models/bert/__init__.pyi
typings/transformers/models/bert_generation/__init__.pyi
typings/transformers/models/bert_japanese/__init__.pyi
typings/transformers/models/bertweet/__init__.pyi
typings/transformers/models/big_bird/__init__.pyi
typings/transformers/models/bigbird_pegasus/__init__.pyi
typings/transformers/models/biogpt/__init__.pyi
typings/transformers/models/bit/__init__.pyi
typings/transformers/models/blenderbot/__init__.pyi
typings/transformers/models/blenderbot_small/__init__.pyi
typings/transformers/models/blip/__init__.pyi
typings/transformers/models/blip_2/__init__.pyi
typings/transformers/models/bloom/__init__.pyi
typings/transformers/models/bridgetower/__init__.pyi
typings/transformers/models/bros/__init__.pyi
typings/transformers/models/byt5/__init__.pyi
typings/transformers/models/camembert/__init__.pyi
typings/transformers/models/canine/__init__.pyi
typings/transformers/models/chinese_clip/__init__.pyi
typings/transformers/models/clap/__init__.pyi
typings/transformers/models/clip/__init__.pyi
typings/transformers/models/clipseg/__init__.pyi
typings/transformers/models/clvp/__init__.pyi
typings/transformers/models/code_llama/__init__.pyi
typings/transformers/models/codegen/__init__.pyi
typings/transformers/models/cohere/__init__.pyi
typings/transformers/models/conditional_detr/__init__.pyi
typings/transformers/models/convbert/__init__.pyi
typings/transformers/models/convnext/__init__.pyi
typings/transformers/models/convnextv2/__init__.pyi
typings/transformers/models/cpm/__init__.pyi
typings/transformers/models/cpmant/__init__.pyi
typings/transformers/models/ctrl/__init__.pyi
typings/transformers/models/cvt/__init__.pyi
typings/transformers/models/data2vec/__init__.pyi
typings/transformers/models/dbrx/__init__.pyi
typings/transformers/models/deberta/__init__.pyi
typings/transformers/models/deberta_v2/__init__.pyi
typings/transformers/models/decision_transformer/__init__.pyi
typings/transformers/models/deformable_detr/__init__.pyi
typings/transformers/models/deit/__init__.pyi
typings/transformers/models/deprecated/deta/__init__.pyi
typings/transformers/models/deprecated/efficientformer/__init__.pyi
typings/transformers/models/deprecated/ernie_m/__init__.pyi
typings/transformers/models/deprecated/gptsan_japanese/__init__.pyi
typings/transformers/models/deprecated/graphormer/__init__.pyi
typings/transformers/models/deprecated/jukebox/__init__.pyi
typings/transformers/models/deprecated/mctct/__init__.pyi
typings/transformers/models/deprecated/mega/__init__.pyi
typings/transformers/models/deprecated/mmbt/__init__.pyi
typings/transformers/models/deprecated/nat/__init__.pyi
typings/transformers/models/deprecated/nezha/__init__.pyi
typings/transformers/models/deprecated/open_llama/__init__.pyi
typings/transformers/models/deprecated/qdqbert/__init__.pyi
typings/transformers/models/deprecated/realm/__init__.pyi
typings/transformers/models/deprecated/retribert/__init__.pyi
typings/transformers/models/deprecated/speech_to_text_2/__init__.pyi
typings/transformers/models/deprecated/tapex/__init__.pyi
typings/transformers/models/deprecated/trajectory_transformer/__init__.pyi
typings/transformers/models/deprecated/transfo_xl/__init__.pyi
typings/transformers/models/deprecated/tvlt/__init__.pyi
typings/transformers/models/deprecated/van/__init__.pyi
typings/transformers/models/deprecated/vit_hybrid/__init__.pyi
typings/transformers/models/deprecated/xlm_prophetnet/__init__.pyi
typings/transformers/models/depth_anything/__init__.pyi
typings/transformers/models/detr/__init__.pyi
typings/transformers/models/dinat/__init__.pyi
typings/transformers/models/dinov2/__init__.pyi
typings/transformers/models/distilbert/__init__.pyi
typings/transformers/models/donut/__init__.pyi
typings/transformers/models/dpr/__init__.pyi
typings/transformers/models/dpt/__init__.pyi
typings/transformers/models/efficientnet/__init__.pyi
typings/transformers/models/electra/__init__.pyi
typings/transformers/models/encodec/__init__.pyi
typings/transformers/models/encoder_decoder/__init__.pyi
typings/transformers/models/ernie/__init__.pyi
typings/transformers/models/esm/__init__.pyi
typings/transformers/models/falcon/__init__.pyi
typings/transformers/models/fastspeech2_conformer/__init__.pyi
typings/transformers/models/flaubert/__init__.pyi
typings/transformers/models/flava/__init__.pyi
typings/transformers/models/fnet/__init__.pyi
typings/transformers/models/focalnet/__init__.pyi
typings/transformers/models/fsmt/__init__.pyi
typings/transformers/models/funnel/__init__.pyi
typings/transformers/models/fuyu/__init__.pyi
typings/transformers/models/gemma/__init__.pyi
typings/transformers/models/gemma2/__init__.pyi
typings/transformers/models/git/__init__.pyi
typings/transformers/models/glpn/__init__.pyi
typings/transformers/models/gpt2/__init__.pyi
typings/transformers/models/gpt_bigcode/__init__.pyi
typings/transformers/models/gpt_neo/__init__.pyi
typings/transformers/models/gpt_neox/__init__.pyi
typings/transformers/models/gpt_neox_japanese/__init__.pyi
typings/transformers/models/gpt_sw3/__init__.pyi
typings/transformers/models/gptj/__init__.pyi
typings/transformers/models/grounding_dino/__init__.pyi
typings/transformers/models/groupvit/__init__.pyi
typings/transformers/models/herbert/__init__.pyi
typings/transformers/models/hubert/__init__.pyi
typings/transformers/models/ibert/__init__.pyi
typings/transformers/models/idefics/__init__.pyi
typings/transformers/models/idefics2/__init__.pyi
typings/transformers/models/imagegpt/__init__.pyi
typings/transformers/models/informer/__init__.pyi
typings/transformers/models/instructblip/__init__.pyi
typings/transformers/models/instructblipvideo/__init__.pyi
typings/transformers/models/jamba/__init__.pyi
typings/transformers/models/jetmoe/__init__.pyi
typings/transformers/models/kosmos2/__init__.pyi
typings/transformers/models/layoutlm/__init__.pyi
typings/transformers/models/layoutlmv2/__init__.pyi
typings/transformers/models/layoutlmv3/__init__.pyi
typings/transformers/models/layoutxlm/__init__.pyi
typings/transformers/models/led/__init__.pyi
typings/transformers/models/levit/__init__.pyi
typings/transformers/models/lilt/__init__.pyi
typings/transformers/models/llama/__init__.pyi
typings/transformers/models/llava/__init__.pyi
typings/transformers/models/llava_next/__init__.pyi
typings/transformers/models/llava_next_video/__init__.pyi
typings/transformers/models/longformer/__init__.pyi
typings/transformers/models/longt5/__init__.pyi
typings/transformers/models/luke/__init__.pyi
typings/transformers/models/lxmert/__init__.pyi
typings/transformers/models/m2m_100/__init__.pyi
typings/transformers/models/mamba/__init__.pyi
typings/transformers/models/marian/__init__.pyi
typings/transformers/models/markuplm/__init__.pyi
typings/transformers/models/mask2former/__init__.pyi
typings/transformers/models/maskformer/__init__.pyi
typings/transformers/models/mbart/__init__.pyi
typings/transformers/models/mbart50/__init__.pyi
typings/transformers/models/megatron_bert/__init__.pyi
typings/transformers/models/mgp_str/__init__.pyi
typings/transformers/models/mistral/__init__.pyi
typings/transformers/models/mixtral/__init__.pyi
typings/transformers/models/mluke/__init__.pyi
typings/transformers/models/mobilebert/__init__.pyi
typings/transformers/models/mobilenet_v1/__init__.pyi
typings/transformers/models/mobilenet_v2/__init__.pyi
typings/transformers/models/mobilevit/__init__.pyi
typings/transformers/models/mobilevitv2/__init__.pyi
typings/transformers/models/mpnet/__init__.pyi
typings/transformers/models/mpt/__init__.pyi
typings/transformers/models/mra/__init__.pyi
typings/transformers/models/mt5/__init__.pyi
typings/transformers/models/musicgen/__init__.pyi
typings/transformers/models/musicgen_melody/__init__.pyi
typings/transformers/models/mvp/__init__.pyi
typings/transformers/models/nllb/__init__.pyi
typings/transformers/models/nllb_moe/__init__.pyi
typings/transformers/models/nougat/__init__.pyi
typings/transformers/models/nystromformer/__init__.pyi
typings/transformers/models/olmo/__init__.pyi
typings/transformers/models/oneformer/__init__.pyi
typings/transformers/models/openai/__init__.pyi
typings/transformers/models/opt/__init__.pyi
typings/transformers/models/owlv2/__init__.pyi
typings/transformers/models/owlvit/__init__.pyi
typings/transformers/models/paligemma/__init__.pyi
typings/transformers/models/patchtsmixer/__init__.pyi
typings/transformers/models/patchtst/__init__.pyi
typings/transformers/models/pegasus/__init__.pyi
typings/transformers/models/pegasus_x/__init__.pyi
typings/transformers/models/perceiver/__init__.pyi
typings/transformers/models/persimmon/__init__.pyi
typings/transformers/models/phi/__init__.pyi
typings/transformers/models/phi3/__init__.pyi
typings/transformers/models/phobert/__init__.pyi
typings/transformers/models/pix2struct/__init__.pyi
typings/transformers/models/plbart/__init__.pyi
typings/transformers/models/poolformer/__init__.pyi
typings/transformers/models/pop2piano/__init__.pyi
typings/transformers/models/prophetnet/__init__.pyi
typings/transformers/models/pvt/__init__.pyi
typings/transformers/models/pvt_v2/__init__.pyi
typings/transformers/models/qwen2/__init__.pyi
typings/transformers/models/qwen2_moe/__init__.pyi
typings/transformers/models/rag/__init__.pyi
typings/transformers/models/recurrent_gemma/__init__.pyi
typings/transformers/models/reformer/__init__.pyi
typings/transformers/models/regnet/__init__.pyi
typings/transformers/models/rembert/__init__.pyi
typings/transformers/models/resnet/__init__.pyi
typings/transformers/models/roberta/__init__.pyi
typings/transformers/models/roberta_prelayernorm/__init__.pyi
typings/transformers/models/roc_bert/__init__.pyi
typings/transformers/models/roformer/__init__.pyi
typings/transformers/models/rt_detr/__init__.pyi
typings/transformers/models/rwkv/__init__.pyi
typings/transformers/models/sam/__init__.pyi
typings/transformers/models/seamless_m4t/__init__.pyi
typings/transformers/models/seamless_m4t_v2/__init__.pyi
typings/transformers/models/segformer/__init__.pyi
typings/transformers/models/seggpt/__init__.pyi
typings/transformers/models/sew/__init__.pyi
typings/transformers/models/sew_d/__init__.pyi
typings/transformers/models/siglip/__init__.pyi
typings/transformers/models/speech_encoder_decoder/__init__.pyi
typings/transformers/models/speech_to_text/__init__.pyi
typings/transformers/models/speecht5/__init__.pyi
typings/transformers/models/splinter/__init__.pyi
typings/transformers/models/squeezebert/__init__.pyi
typings/transformers/models/stablelm/__init__.pyi
typings/transformers/models/starcoder2/__init__.pyi
typings/transformers/models/superpoint/__init__.pyi
typings/transformers/models/swiftformer/__init__.pyi
typings/transformers/models/swin/__init__.pyi
typings/transformers/models/swin2sr/__init__.pyi
typings/transformers/models/swinv2/__init__.pyi
typings/transformers/models/switch_transformers/__init__.pyi
typings/transformers/models/t5/__init__.pyi
typings/transformers/models/table_transformer/__init__.pyi
typings/transformers/models/tapas/__init__.pyi
typings/transformers/models/time_series_transformer/__init__.pyi
typings/transformers/models/timesformer/__init__.pyi
typings/transformers/models/timm_backbone/__init__.pyi
typings/transformers/models/trocr/__init__.pyi
typings/transformers/models/tvp/__init__.pyi
typings/transformers/models/udop/__init__.pyi
typings/transformers/models/umt5/__init__.pyi
typings/transformers/models/unispeech/__init__.pyi
typings/transformers/models/unispeech_sat/__init__.pyi
typings/transformers/models/univnet/__init__.pyi
typings/transformers/models/upernet/__init__.pyi
typings/transformers/models/video_llava/__init__.pyi
typings/transformers/models/videomae/__init__.pyi
typings/transformers/models/vilt/__init__.pyi
typings/transformers/models/vipllava/__init__.pyi
typings/transformers/models/vision_encoder_decoder/__init__.pyi
typings/transformers/models/vision_text_dual_encoder/__init__.pyi
typings/transformers/models/visual_bert/__init__.pyi
typings/transformers/models/vit/__init__.pyi
typings/transformers/models/vit_mae/__init__.pyi
typings/transformers/models/vit_msn/__init__.pyi
typings/transformers/models/vitdet/__init__.pyi
typings/transformers/models/vitmatte/__init__.pyi
typings/transformers/models/vits/__init__.pyi
typings/transformers/models/vivit/__init__.pyi
typings/transformers/models/wav2vec2/__init__.pyi
typings/transformers/models/wav2vec2_bert/__init__.pyi
typings/transformers/models/wav2vec2_conformer/__init__.pyi
typings/transformers/models/wav2vec2_phoneme/__init__.pyi
typings/transformers/models/wav2vec2_with_lm/__init__.pyi
typings/transformers/models/wavlm/__init__.pyi
typings/transformers/models/whisper/__init__.pyi
typings/transformers/models/x_clip/__init__.pyi
typings/transformers/models/xglm/__init__.pyi
typings/transformers/models/xlm/__init__.pyi
typings/transformers/models/xlm_roberta/__init__.pyi
typings/transformers/models/xlm_roberta_xl/__init__.pyi
typings/transformers/models/xlnet/__init__.pyi
typings/transformers/models/xmod/__init__.pyi
typings/transformers/models/yolos/__init__.pyi
typings/transformers/models/yoso/__init__.pyi
typings/transformers/onnx/__init__.pyi
typings/transformers/pipelines/__init__.pyi
typings/transformers/pipelines/audio_classification.pyi
typings/transformers/pipelines/automatic_speech_recognition.pyi
typings/transformers/pipelines/base.pyi
typings/transformers/pipelines/depth_estimation.pyi
typings/transformers/pipelines/document_question_answering.pyi
typings/transformers/pipelines/feature_extraction.pyi
typings/transformers/pipelines/fill_mask.pyi
typings/transformers/pipelines/image_classification.pyi
typings/transformers/pipelines/image_feature_extraction.pyi
typings/transformers/pipelines/image_segmentation.pyi
typings/transformers/pipelines/image_to_image.pyi
typings/transformers/pipelines/image_to_text.pyi
typings/transformers/pipelines/mask_generation.pyi
typings/transformers/pipelines/object_detection.pyi
typings/transformers/pipelines/pt_utils.pyi
typings/transformers/pipelines/question_answering.pyi
typings/transformers/pipelines/table_question_answering.pyi
typings/transformers/pipelines/text_classification.pyi
typings/transformers/pipelines/text_generation.pyi
typings/transformers/pipelines/text_to_audio.pyi
typings/transformers/pipelines/text2text_generation.pyi
typings/transformers/pipelines/token_classification.pyi
typings/transformers/pipelines/video_classification.pyi
typings/transformers/pipelines/visual_question_answering.pyi
typings/transformers/pipelines/zero_shot_audio_classification.pyi
typings/transformers/pipelines/zero_shot_classification.pyi
typings/transformers/pipelines/zero_shot_image_classification.pyi
typings/transformers/pipelines/zero_shot_object_detection.pyi
typings/transformers/quantizers/__init__.pyi
typings/transformers/sagemaker/__init__.pyi
typings/transformers/utils/__init__.pyi
typings/transformers/utils/backbone_utils.pyi
typings/transformers/utils/chat_template_utils.pyi
typings/transformers/utils/constants.pyi
typings/transformers/utils/doc.pyi
typings/transformers/utils/dummy_essentia_and_librosa_and_pretty_midi_and_scipy_and_torch_objects.pyi
typings/transformers/utils/dummy_flax_objects.pyi
typings/transformers/utils/dummy_keras_nlp_objects.pyi
typings/transformers/utils/dummy_pt_objects.pyi
typings/transformers/utils/dummy_sentencepiece_and_tokenizers_objects.pyi
typings/transformers/utils/dummy_sentencepiece_objects.pyi
typings/transformers/utils/dummy_tensorflow_text_objects.pyi
typings/transformers/utils/dummy_tf_objects.pyi
typings/transformers/utils/dummy_tokenizers_objects.pyi
typings/transformers/utils/dummy_torchaudio_objects.pyi
typings/transformers/utils/dummy_torchvision_objects.pyi
typings/transformers/utils/dummy_vision_objects.pyi
typings/transformers/utils/logging.pyi
typings/transformers/utils/quantization_config.pyi
_9_result.json
_9_visualized.png
debug_original_image.png
debug_detected_tables.png
detected_objects.png
